In [1]:
from path import Path
import pandas as pd
import statsmodels.api as sm

In [2]:
data = Path('Resources/kc_house_data_long_lat.csv')
df = pd.read_csv(data)
df.head(20)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503
5,7237550310,20140512T000000,1230000.0,4,4.50,5420,101930,1.0,0,0,...,11,3890,1530,2001,0,98053,47.6561,-122.005,4760,101930
6,1321400060,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,0,...,7,1715,0,1995,0,98003,47.3097,-122.327,2238,6819
7,2008000270,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,0,...,7,1060,0,1963,0,98198,47.4095,-122.315,1650,9711
8,2414600126,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,0,...,7,1050,730,1960,0,98146,47.5123,-122.337,1780,8113
9,3793500160,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,0,...,7,1890,0,2003,0,98038,47.3684,-122.031,2390,7570
10,1736800520,20150403T000000,662500.0,3,2.50,3560,9796,1.0,0,0,...,8,1860,1700,1965,0,98007,47.6007,-122.145,2210,8925
11,9212900260,20140527T000000,468000.0,2,1.00,1160,6000,1.0,0,0,...,7,860,300,1942,0,98115,47.6900,-122.292,1330,6000
12,114101516,20140528T000000,310000.0,3,1.00,1430,19901,1.5,0,0,...,7,1430,0,1927,0,98028,47.7558,-122.229,1780,12697
13,6054650070,20141007T000000,400000.0,3,1.75,1370,9680,1.0,0,0,...,7,1370,0,1977,0,98074,47.6127,-122.045,1370,10208
14,1175000570,20150312T000000,530000.0,5,2.00,1810,4850,1.5,0,0,...,7,1810,0,1900,0,98107,47.6700,-122.394,1360,4850
15,9297300055,20150124T000000,650000.0,4,3.00,2950,5000,2.0,0,3,...,9,1980,970,1979,0,98126,47.5714,-122.375,2140,4000
16,1875500060,20140731T000000,395000.0,3,2.00,1890,14040,2.0,0,0,...,7,1890,0,1994,0,98019,47.7277,-121.962,1890,14018
17,6865200140,20140529T000000,485000.0,4,1.00,1600,4300,1.5,0,0,...,7,1600,0,1916,0,98103,47.6648,-122.343,1610,4300
18,16000397,20141205T000000,189000.0,2,1.00,1200,9850,1.0,0,0,...,7,1200,0,1921,0,98002,47.3089,-122.210,1060,5095
19,7983200060,20150424T000000,230000.0,3,1.00,1250,9774,1.0,0,0,...,7,1250,0,1969,0,98003,47.3343,-122.306,1280,8850

In [3]:
df['date'] = pd.to_datetime(df['date']) #Dropping date column bcz i won't gonna day and month and creating new year column
df['year'] = df['date'].dt.year
df = df.drop("date",axis=1)
df

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,...,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year
0,7129300520,221900.0,3,1.00,1180,5650,1.0,0,0,3,...,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,2014
1,6414100192,538000.0,3,2.25,2570,7242,2.0,0,0,3,...,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,2014
2,5631500400,180000.0,2,1.00,770,10000,1.0,0,0,3,...,770,0,1933,0,98028,47.7379,-122.233,2720,8062,2015
3,2487200875,604000.0,4,3.00,1960,5000,1.0,0,0,5,...,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,2014
4,1954400510,510000.0,3,2.00,1680,8080,1.0,0,0,3,...,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21608,263000018,360000.0,3,2.50,1530,1131,3.0,0,0,3,...,1530,0,2009,0,98103,47.6993,-122.346,1530,1509,2014
21609,6600060120,400000.0,4,2.50,2310,5813,2.0,0,0,3,...,2310,0,2014,0,98146,47.5107,-122.362,1830,7200,2015
21610,1523300141,402101.0,2,0.75,1020,1350,2.0,0,0,3,...,1020,0,2009,0,98144,47.5944,-122.299,1020,2007,2014
21611,291310100,400000.0,3,2.50,1600,2388,2.0,0,0,3,...,1600,0,2004,0,98027,47.5345,-122.069,1410,1287,2015
21612,1523300157,325000.0,2,0.75,1020,1076,2.0,0,0,3,...,1020,0,2008,0,98144,47.5941,-122.299,1020,1357,2014

In [4]:
# X = df.drop(['date', 'price', 'zipcode', 'lat', 'long'], axis = 1)
X = df.drop(['price'], axis = 1)

In [5]:
y = df["price"]
# X = df.drop(columns="price")

In [6]:
y.head()

0    221900.0
1    538000.0
2    180000.0
3    604000.0
4    510000.0
Name: price, dtype: float64

In [7]:
X.head()

,id,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15,year
0,7129300520,3,1.00,1180,5650,1.0,0,0,3,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650,2014
1,6414100192,3,2.25,2570,7242,2.0,0,0,3,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639,2014
2,5631500400,2,1.00,770,10000,1.0,0,0,3,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062,2015
3,2487200875,4,3.00,1960,5000,1.0,0,0,5,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000,2014
4,1954400510,3,2.00,1680,8080,1.0,0,0,3,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503,2015

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [9]:
X_train.shape

(15129, 20)

In [10]:
from sklearn.linear_model import LinearRegression
linear_reg = LinearRegression().fit(X_train, y_train)

In [11]:
#classifier.fit(X_train, y_train)

In [12]:
y_pred = linear_reg.predict(X_test)
results = pd.DataFrame({"Prediction": y_pred, "Actual": y_test}).reset_index(drop=True)
results.head(20)

      Prediction     Actual
0   4.521673e+05   365000.0
1   7.371640e+05   865000.0
2   1.230480e+06  1040000.0
3   1.681077e+06  1490000.0
4   7.224399e+05   711000.0
5   2.758391e+05   211000.0
6   8.199746e+05   790000.0
7   4.840809e+05   680000.0
8   3.815545e+05   384500.0
9   4.650833e+05   605000.0
10  6.355867e+05   638000.0
11  5.870037e+05   385000.0
12  3.299847e+05   175000.0
13  3.662902e+05   365000.0
14  3.096224e+05   160000.0
15  1.179402e+06  1070000.0
16  3.628421e+05   800000.0
17  1.110487e+06   795127.0
18  3.760117e+05   355000.0
19  6.083935e+05   474000.0

In [13]:
linear_reg.score(X, y, sample_weight=None)

0.701124761907812

In [14]:
# from sklearn.metrics import confusion_matrix, classification_report

In [15]:
# matrix = confusion_matrix(y_test, y_pred)
# print(matrix)

In [16]:
# report = classification_report(y_test, y_pred)
# print(report)

NameError: name 'classification_report' is not defined

In [17]:
import statsmodels.api as sm

In [18]:
mod = sm.OLS(y, X)

In [19]:
res = mod.fit()

In [20]:
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  price   R-squared:                       0.700
Model:                            OLS   Adj. R-squared:                  0.700
Method:                 Least Squares   F-statistic:                     2805.
Date:                Sat, 06 Nov 2021   Prob (F-statistic):               0.00
Time:                        10:25:52   Log-Likelihood:            -2.9459e+05
No. Observations:               21613   AIC:                         5.892e+05
Df Residuals:                   21594   BIC:                         5.894e+05
Df Model:                          18
Covariance Type:            nonrobust
=================================================================================
                    coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------
id            -1.363e-06   4.82e-07     -2.827      0.005   -2.31e-06   -4.18e-07
bedrooms      -3.627e+04   1890.888    -19.179      0.000      -4e+04   -3.26e+04
bathrooms      4.135e+04   3252.294     12.715      0.000     3.5e+04    4.77e+04
sqft_living     110.8013      2.269     48.839      0.000     106.354     115.248
sqft_lot          0.1125      0.048      2.345      0.019       0.018       0.207
floors         9246.6029   3588.042      2.577      0.010    2213.775    1.63e+04
waterfront     5.824e+05   1.74e+04     33.560      0.000    5.48e+05    6.16e+05
view           5.383e+04   2136.212     25.198      0.000    4.96e+04     5.8e+04
condition      2.533e+04   2338.483     10.830      0.000    2.07e+04    2.99e+04
grade          9.683e+04   2151.538     45.004      0.000    9.26e+04    1.01e+05
sqft_above       69.7475      2.250     31.002      0.000      65.338      74.157
sqft_basement    41.0538      2.642     15.539      0.000      35.875      46.232
yr_built      -2717.9504     71.725    -37.894      0.000   -2858.538   -2577.363
yr_renovated     18.9542      3.650      5.193      0.000      11.800      26.109
zipcode        -684.0536     30.602    -22.353      0.000    -744.036    -624.071
lat             6.04e+05   1.07e+04     56.277      0.000    5.83e+05    6.25e+05
long          -2.078e+05   1.31e+04    -15.823      0.000   -2.34e+05   -1.82e+05
sqft_living15    19.3688      3.435      5.639      0.000      12.637      26.101
sqft_lot15       -0.4066      0.073     -5.539      0.000      -0.550      -0.263
year           8757.2490   1302.524      6.723      0.000    6204.205    1.13e+04
==============================================================================
Omnibus:                    18365.558   Durbin-Watson:                   1.990
Prob(Omnibus):                  0.000   Jarque-Bera (JB):          1872517.862
Skew:                           3.559   Prob(JB):                         0.00
Kurtosis:                      48.041   Cond. No.                     2.79e+22
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 8.11e-22. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.